<%- include('common/_header',{
    title : 'TOP'
}); %>
<main id="main">
  <!--コンテンツ一覧-->
  <div class="container" v-for="article in articles">
    <div class="item" @click="detail(article.name, article.file)">
      {{article.name}}
    </div>
  </div>

  <!--モーダルウインドウ-->
  <div id="detail" class="modal-background" v-bind:class="{open: modal}" @click="close">
    <div class="modal-content">
      <div class="title">
        {{title}}
      </div>
      <div class="content" v-html="content">
      </div>
    </div>
  </div>

</main>
<%- include('common/_footer',{
}); %>